<!DOCTYPE html>
<html xlmns:th="http://thyemleaf.org"
      xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Gerenciador de Dependencias</h1>
<form action="/cadastrarDependencia" method="post">
    <label for="dependencia">Digite a String:</label>
    <input type="text" id="dependencia" value="" name="dependencia">
    <button type="Submit">Buscar</button>
</form>
</body>
</html>